/* ================= NAVBAR ================= */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
  padding: 20px 28px;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(18px);
  border-radius: 18px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.08);
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 18px;
}

.logo-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #4f46e5, #2563eb);
  color: white;
}

.nav-left h2 {
  margin: 0;
  color: #222;
}

.nav-left p {
  margin-top: 5px;
  color: #666;
  font-size: 14px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.notification {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.notification:hover {
  background: #2563eb;
  color: white;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: linear-gradient(135deg, #4f46e5, #2563eb);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.user-profile h4 {
  margin: 0;
}

.user-profile small {
  color: #777;
}

.logout-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  background: #ef4444;
  color: white;
  padding: 12px 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.logout-btn:hover {
  background: #dc2626;
  transform: translateY(-2px);
}

/* Theme Button */

.theme-btn {
  width: 46px;
  height: 46px;
  border: none;
  border-radius: 50%;
  background: white;
  color: #4f46e5;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.theme-btn:hover {
  transform: translateY(-2px) rotate(15deg);
}
